# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
env/
enviroment/enviroment.json

# Ignore VSCode settings
.vscode/

# Ignore virtual environments
venv/
*.env

# Ignore logs and temporary files
*.log
*.tmp
.DS_Store